<div class="container mt-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body text-center">
                        <span class="titulo"> {{ titulo | uppercase }}</span>
                        <form class="mt-3" [formGroup]="contactoForm" (ngSubmit)="agregarContacto()">
                            <div class="mb-3">
                                <input type="text" formControlName="nombres" class="form-control form-control-lg"
                                    placeholder="Nombres">
                                <div class="text-danger"
                                    *ngIf="contactoForm.get('nombres')?.hasError('required') && contactoForm.get('nombres')?.touched">
                                    <span>El campo nombres <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="telefono" class="form-control form-control-lg"
                                    placeholder="Telefono">
                                <div class="text-danger"
                                    *ngIf="contactoForm.get('telefono')?.hasError('required') && contactoForm.get('telefono')?.touched">
                                    <span>El campo telefono <strong>es obligatorio</strong></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="text" formControlName="correo" class="form-control form-control-lg"
                                    placeholder="Correo">
                                <div class="text-danger"
                                    *ngIf="contactoForm.get('correo')?.hasError('required') && contactoForm.get('correo')?.touched">
                                    <span>El campo correo <strong>es obligatorio</strong></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                                <button type="submit" [disabled]="contactoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>